<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>list</title>
</head>

<body>
    <div class="container">
        <form method="POST">
            <p>ID <input type = "text" name = "ID" value="{{ID}}"/></p>
            <p>V1 <input type = "text" name = "V1" value="{{V1}}"/></p>
            <p>V2 <input type = "text" name = "V2" value="{{V2}}"/></p>
            <p><input type = "submit" value = "SUBMIT" /></p>
       </form>
    </div>
</body>

</html>