<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>    
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <!doctype html>
        <div>{{route}}</div>
        <div>
            <input type="submit" class="btn btn-success" value="SEARCH" onclick="search()" />
            <input type="submit" class="btn btn-success" value="ADD" onclick="add()" />
        </div>
        <table border=1 class="container">
            <tr style="height:50px;background-color: #9adde6;" >
                <th width="100px"> ID </th>
                <th width="100px"> V1 </th>
                <th width="100px"> V2 </th>
                <th width="30px"> UPD </th>
                <th width="30px"> DEL </th>
            </tr>
            {% for ID, V1,V2 in result %}
            <tr>
                <td> {{ ID }} </td>
                <td> {{ V1 }} </td>
                <td> {{ V2 }} </td>
                <td> <input type="submit" class="btn btn-success" value="UPD" onclick="upd('{{ ID }}')" /></td>
                <td> <input type="submit" class="btn btn-success" value="DEL" onclick="del('{{ ID }}')" /></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script>    
    basepath = "{{route}}"
    function search() {        
        url = basepath+".SEARCH/";
        window.location.href = basepath+".SEARCH";
    }
    function add() {
        url = basepath+".SEARCH/";
        window.location.href =  basepath+".ADD";
    }
    function upd(id) {
        window.location.href =  basepath+".UPD/" + id;
    }
    function del(id) {
        url = basepath+".DEL/" + id;
        var params = {"id":id};
        httpPost(url,params);
    }

    //发送POST请求跳转到指定页面
    function httpPost(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        for (var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }

    //发送POST请求跳转到指定页面
    function httpPost(URL) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }
</script>

</html>