<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>list</title>
</head>

<body>
    <div class="container">
        <h2>list</h2>
        <!doctype html>
        <input type="submit" class="btn btn-success" value="SEARCH" onclick="search()" />
        <input type="submit" class="btn btn-success" value="ADD" onclick="add()" />
        <table border=1 class="container">
            <tr style="height:50px;background-color: #9adde6;" >
                <th width="50"> ID </th>
                <th width="50"> V1 </th>
                <th width="50"> V2 </th>
                <th width="30"> UPD </th>
                <th width="30"> DEL </th>
            </tr>
            {% for ID, V1,V2 in result %}
            <tr>
                <td> {{ ID }} </td>
                <td> {{ V1 }} </td>
                <td> {{ V2 }} </td>
                <td> <input type="submit" class="btn btn-success" value="UPD" onclick="upd('{{ ID }}')" /></td>
                <td> <input type="submit" class="btn btn-success" value="DEL" onclick="del('{{ ID }}')" /></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

<script>
    function search() {
        window.location.href = "SEARCH";
    }
    function add() {
        window.location.href = "ADD";
    }
    function upd(id) {
        window.location.href = "UPD/" + id;
    }
    function del(id) {
        var params = {"id":id};
        httpPost(id,params);
    }


    //发送POST请求跳转到指定页面
    function httpPost(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        for (var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }


    //发送POST请求跳转到指定页面
    function httpPost(URL) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }
</script>

</html>